{{>navbar}}
<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img class="logo" src="/img/kriativadev.jpg" alt="logo" width="90"><br>
                        You are logged in 
						<div class="mt-4">
							User Name: {{name}} <br>
							Email: {{email}}
						</div>
						<div class="mt-4">
						  {{>errors}}
						</div>					
			</div>
        </div>
    </div>
</div>          
</section>


