<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change your password <i class="text-dark ico" data-feather="lock"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/users/updatePassword" class="needs-validation" novalidate="" autocomplete="off">                                                      
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required autofocus>
                         <div class="invalid-feedback">
										      Unfilled password
									      </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required autofocus>
                         <div class="invalid-feedback">
										      Unfilled password
									      </div>
                    </div>        
                </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn botao ">Save Changes</button>     
        
        </form>
      </div>
    </div>
  </div>
</div>